Source: globus-ssh
Priority: optional
Maintainer: Globus Support <support@globus.org>
Build-Depends: debhelper (>= 9), autotools-dev, libjson-c-dev, libcmocka-dev, libpam0g-dev
Standards-Version: 3.9.2
Section: net
Homepage: http://toolkit.globus.org/

Package: globus-ssh
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-gsi-cert-utils0
Description: Globus SSH
